<div class="row">
    <div class="col-6">
    <div class="mb-3 row">
        <label for="num1" class="col-sm-2 col-form-label">Numero1</label>
        <div class="col-sm-10">
          <input type="text"[(ngModel)]="num1" name="num1" class="form-control" id="inputPassword">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="num2" class="col-sm-2 col-form-label">Numero2</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="num2" name="num2" class="form-control" id="inputPassword">
          </div>
        </div>
        <div class="mb-3 row">
            <label for="num1" class="col-sm-2 col-form-label">Operacion a hacer:</label>
            <div class="col-sm-10">
              <input type="text"[(ngModel)]="operacion" name="operacion" class="form-control" id="inputPassword">
            </div>
          </div>
        <div class="mb-3 row">
            <button (click)="operaciones()" class="btn btn-primary">Calcular</button>
        </div>
      </div>
    <div class="col-6">
    <h1>Resultado: {{resultado}} </h1>
    </div>
</div>
