<div class="card">
    <div class="card-header">
        Lista de productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">filtrar por:</div>
            <div class="col md-4">
                <input type="text" [(ngModel)]="listFilter" class="form-control" name="filter"> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button (click)="ShowImagen()" class="btn btn-primary">{{muestraImg ?'Ocultar':'Mostrar'}}Imagen</button>
                        </th>
                        <th>Modelo</th>
                        <th>Descripcion</th>
                        <th>Marca</th>
                        <th>Año</th>
                        <th>Precio</th>
                        <th>Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let coche of productos | productoFiltro:listFilter">
                        <td><img [src]="coche.ImagenUrl"
                            *ngIf="muestraImg"
                            [title]="coche.Modelo"
                            [style.width.px]="imageWidth"
                            [style.margin.px]="imageMargin"></td>
                        <td>{{coche.Modelo}}</td>
                        <td>{{coche.Descripcion}}</td>
                        <td>{{coche.Marca | uppercase}}</td>
                        <td>{{coche.Year | date:"dd/MM/yy"}}</td>
                        <td>{{coche.Precio | currency}}</td>
                        <td>{{coche.Puntos}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
